/* v0.2 of CSS stylesheet for the Web3Privacy Events websites - source: https://github.com/web3privacy/events_web */
/* major-mono-display-regular - latin */
@font-face {
	font-family: 'Major Mono Display';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/major-mono-display-v13-latin-regular.eot'); /* IE9 Compat Modes */
	src: url('/fonts/major-mono-display-v13-latin-regular.eot?#iefix') format('embedded-opentype'), 
		 url('/fonts/major-mono-display-v13-latin-regular.woff2') format('woff2'), 
		 url('/fonts/major-mono-display-v13-latin-regular.woff') format('woff'), 
		 url('/fonts/major-mono-display-v13-latin-regular.ttf') format('truetype'), 
		 url('/fonts/major-mono-display-v13-latin-regular.svg#MajorMonoDisplay') format('svg'); /* Legacy iOS */
}

/* dm-mono-300 - latin */
@font-face {
	font-family: 'DM Mono';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/dm-mono-v11-latin-300.eot'); /* IE9 Compat Modes */
	src: url('/fonts/dm-mono-v11-latin-300.eot?#iefix') format('embedded-opentype'), 
		 url('/fonts/dm-mono-v11-latin-300.woff2') format('woff2'), 
		 url('/fonts/dm-mono-v11-latin-300.woff') format('woff'), 
		 url('/fonts/dm-mono-v11-latin-300.ttf') format('truetype'), 
		 url('/fonts/dm-mono-v11-latin-300.svg#DMMono') format('svg'); /* Legacy iOS */
  }
  /* dm-mono-regular - latin */
  @font-face {
	font-family: 'DM Mono';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/dm-mono-v11-latin-regular.eot'); /* IE9 Compat Modes */
	src: url('/fonts/dm-mono-v11-latin-regular.eot?#iefix') format('embedded-opentype'), 
		 url('/fonts/dm-mono-v11-latin-regular.woff2') format('woff2'), 
		 url('/fonts/dm-mono-v11-latin-regular.woff') format('woff'), 
		 url('/fonts/dm-mono-v11-latin-regular.ttf') format('truetype'), 
		 url('/fonts/dm-mono-v11-latin-regular.svg#DMMono') format('svg'); /* Legacy iOS */
  }
  /* dm-mono-500 - latin */
  @font-face {
	font-family: 'DM Mono';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/dm-mono-v11-latin-500.eot'); /* IE9 Compat Modes */
	src: url('/fonts/dm-mono-v11-latin-500.eot?#iefix') format('embedded-opentype'), 
		 url('/fonts/dm-mono-v11-latin-500.woff2') format('woff2'), 
		 url('/fonts/dm-mono-v11-latin-500.woff') format('woff'), 
		 url('/fonts/dm-mono-v11-latin-500.ttf') format('truetype'), 
		 url('/fonts/dm-mono-v11-latin-500.svg#DMMono') format('svg'); /* Legacy iOS */
  }

/* ! tailwindcss v3.2.6 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/

html {
  line-height: 1.5; /* 1 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: DM Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

/*
Remove the inner padding in Chrome and Safari on macOS.
*/


/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/


/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

::backdrop {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #000000;
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
}
body {
	--tw-bg-opacity: 1;
	background-color: #000000;
}
* {
	font-family: DM Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-weight: 300;
}
#header-shade {
	height: 2.5rem;
	background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
	--tw-gradient-from: #000;
	--tw-gradient-to: #000000;
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
footer a,
	.markdown a {
	--tw-text-opacity: 1;
	color: #FFFFFF;
	text-decoration-line: underline;
}
footer a:hover,
	.markdown a:hover {
	text-decoration-line: none;
}
.markdown-basic a {
	text-decoration-line: underline;
}
.markdown-basic a:hover {
	text-decoration-line: none;
}
.markdown.multiline > p:not(:last-child) {
	margin-bottom: 2.5rem;
}
.middle-pane-medium {
	margin-left: auto;
	margin-right: auto;
	max-width: 80rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
@media (min-width: 1280px) {
	.middle-pane-medium {
		padding-left: 0px;
		padding-right: 0px;
	}
}
.middle-pane-big {
	margin-left: auto;
	margin-right: auto;
	max-width: 1536px;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
@media (min-width: 1536px) {
	.middle-pane-big {
		padding-left: 0px;
		padding-right: 0px;
	}
}
.button {
		/*@apply px-3 py-1.5 text-black bg-white border border-black cursor-pointer;*/
		cursor: pointer;
		border-width: 1px;
		--tw-border-opacity: 1;
		border-color: #FFFFFF;
		--tw-bg-opacity: 1;
		background-color: #000000;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		text-transform: uppercase;
		--tw-text-opacity: 1;
		color: #FFFFFF;
		text-decoration-line: none;
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}
.button:hover,
	.button-inactive {
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: #000000;
	--tw-bg-opacity: 1;
	background-color: #FFFFFF;
	--tw-text-opacity: 1;
	color: #000000;
	text-decoration-line: none;
}
.button:hover.button-inactive {
	cursor: default;
	--tw-border-opacity: 1;
	border-color: #4B5563;
	--tw-text-opacity: 1;
	color: #4B5563;
}
.button-inverse {
	cursor: pointer;
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: #000000;
	--tw-bg-opacity: 1;
	background-color: #000000;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	--tw-text-opacity: 1;
	color: #FFFFFF;
}
.button-inverse:hover {
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: #000000;
	--tw-bg-opacity: 1;
	background-color: #FFFFFF;
	--tw-text-opacity: 1;
	color: #000000;
}
.section-header {
	margin-bottom: 2rem;
	margin-top: 1.5rem;
	display: inline-block;
	border-top-width: 2px;
	padding-top: 1rem;
	font-family: Major Mono Display, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 300;
	text-transform: lowercase;
}
@media (min-width: 768px) {
	.section-header {
		margin-bottom: 4rem;
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}
.section-subheader {
	margin-bottom: 1rem;
	font-family: Major Mono Display, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 1.5rem;
	line-height: 2rem;
	text-transform: lowercase;
}
@media (min-width: 768px) {
	.section-subheader {
		margin-bottom: 2rem;
	}
}
.text-mild {
	--tw-text-opacity: 1;
	color: #909090;
}
.text-supermild {
	color: #FFFFFF;
}
table.table-custom {
	font-size: 1rem;
	line-height: 1.5rem;
}
.table-custom td,
	.table-custom th {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	vertical-align: top;
}
@media (min-width: 768px) {
	.table-custom td,
	.table-custom th {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}
}
.table-custom th {
	--tw-text-opacity: 1;
	color: #909090;
}
person-item:hover .table-custom th {
	--tw-text-opacity: 1;
	color: #000000;
}
.eligible .table-custom th {
	--tw-text-opacity: 1;
	color: #000000;
}
.partner-item .partner-text .table-custom th {
	color: #FFFFFF;
}
.partner-item:hover .partner-text .table-custom th {
	color: #FFFFFF;
	transition-duration: 1000ms;
}
.table-custom tbody tr:hover td,
	.table-custom tbody tr:hover td span {
	--tw-bg-opacity: 1;
	background-color: #FFFFFF;
	--tw-text-opacity: 1;
	color: #000000;
}
.table-custom tbody tr:hover td .description {
	--tw-text-opacity: 1;
	color: #000000;
}
.table-custom td.time {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.external:not(.mi-img)::after {
		padding-left: 10px;
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' aria-hidden='true' viewBox='0 0 24 24' class='iconExternalLink_nPIU'%3E%3Cpath fill='white' d='M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z'%3E%3C/path%3E%3C/svg%3E");
	}
.darker .external:not(.mi-img)::after {
		padding-left: 10px;
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' aria-hidden='true' viewBox='0 0 24 24' class='iconExternalLink_nPIU'%3E%3Cpath fill='%23999999' d='M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z'%3E%3C/path%3E%3C/svg%3E");
	}
.external.external-mild:not(.mi-img)::after {
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' aria-hidden='true' viewBox='0 0 24 24' class='iconExternalLink_nPIU'%3E%3Cpath fill='silver' d='M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z'%3E%3C/path%3E%3C/svg%3E");
	}
.ico-twitter .ico-children {
	width: 1.75rem;
	opacity: 0.6;
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='none' stroke='white' stroke-width='3'%3E%3Cpath d='M56 16.46a67.49 67.49 0 0 0-8.11-.73 9.75 9.75 0 0 0-16.56 8.91c-8.08-.41-14.2-4.56-19.92-10.73-.78 1.52-2.26 6.37-1.11 9.87a19.1 19.1 0 0 0 6.75 8.59 26.05 26.05 0 0 1-8.52-1.85c1.41 4.63 6.25 11.35 13.86 12.4a19.46 19.46 0 0 1-12.07 4.19A19.66 19.66 0 0 1 8 47a27.42 27.42 0 0 0 14.9 4.39c17.87 0 27.65-14.89 27.65-27.81v-1.27z'/%3E%3C/svg%3E");
}
.ico-twitter:hover .ico-children {
	opacity: 1;
}
.ico-matrix .ico-children {
	height: 1.25rem;
	opacity: 0.6;
		content: url("data:image/svg+xml,%3Csvg width='66' height='28' viewBox='0 0 66 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.975097 0.640961V27.359H2.89517V28H0.238281V0H2.89517V0.640961H0.975097Z' fill='white'/%3E%3Cpath d='M8.37266 9.11071V10.4628H8.4111C8.7712 9.94812 9.20494 9.54849 9.71306 9.26518C10.2208 8.98235 10.8029 8.84036 11.4586 8.84036C12.0885 8.84036 12.664 8.96298 13.1846 9.2074C13.7054 9.45223 14.1009 9.88336 14.371 10.5015C14.6665 10.0638 15.0683 9.67744 15.5764 9.34266C16.0842 9.00804 16.6852 8.84036 17.3797 8.84036C17.9069 8.84036 18.3953 8.90487 18.8457 9.03365C19.2955 9.16242 19.6812 9.36843 20.0027 9.65166C20.3239 9.93515 20.5746 10.3053 20.755 10.7621C20.9349 11.2196 21.025 11.7698 21.025 12.4139V19.0966H18.2861V13.4373C18.2861 13.1027 18.2734 12.7872 18.2475 12.4908C18.2216 12.1949 18.1512 11.9375 18.0354 11.7183C17.9196 11.4996 17.7491 11.3256 17.5243 11.1967C17.2993 11.0684 16.9938 11.0037 16.6081 11.0037C16.2225 11.0037 15.9106 11.0782 15.6727 11.2257C15.4346 11.374 15.2483 11.5673 15.1134 11.8052C14.9784 12.0438 14.8884 12.314 14.8435 12.6168C14.7982 12.9192 14.7759 13.2252 14.7759 13.5342V19.0966H12.0372V13.4955C12.0372 13.1994 12.0305 12.9063 12.0181 12.6168C12.005 12.3269 11.9506 12.0598 11.8539 11.815C11.7575 11.5706 11.5967 11.374 11.3717 11.2257C11.1467 11.0782 10.8156 11.0037 10.3785 11.0037C10.2497 11.0037 10.0794 11.0327 9.86746 11.0908C9.65528 11.1487 9.44941 11.2584 9.25027 11.4191C9.05071 11.5802 8.88053 11.812 8.73908 12.1143C8.59754 12.4171 8.5269 12.8128 8.5269 13.3021V19.0966H5.78833V9.11071H8.37266Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.8596 9.55506C23.4223 9.81286 23.0621 10.1539 22.7794 10.5789C22.4962 11.0036 22.3357 11.5382 22.2974 12.1818H25.036C25.0872 11.6412 25.2676 11.2547 25.5761 11.023C25.8847 10.7912 26.309 10.6752 26.8491 10.6752C27.0931 10.6752 27.3215 10.6917 27.5338 10.7234C27.7458 10.7558 27.9322 10.8202 28.093 10.9167C28.2537 11.0132 28.3823 11.1487 28.4787 11.3224C28.5752 11.4962 28.6233 11.7313 28.6233 12.0273C28.6359 12.3108 28.5523 12.5264 28.3726 12.6745C28.1924 12.8227 27.9483 12.9352 27.6397 13.0124C27.3311 13.0897 26.9774 13.1477 26.5789 13.1864C26.1802 13.225 25.7753 13.2766 25.3638 13.3408C24.9523 13.4056 24.5441 13.4923 24.1392 13.6016C23.734 13.711 23.374 13.8752 23.0592 14.094C22.7437 14.3131 22.4867 14.6059 22.2876 14.9731C22.0879 15.3398 21.9884 15.8067 21.9884 16.3731C21.9884 16.8879 22.0753 17.3326 22.2489 17.706C22.4225 18.0793 22.6635 18.3884 22.9722 18.6327C23.2807 18.8778 23.6406 19.0579 24.0522 19.1739C24.4636 19.2896 24.9072 19.3476 25.3831 19.3476C26.0003 19.3476 26.6046 19.2572 27.1963 19.0774C27.7873 18.897 28.3018 18.5815 28.739 18.1308C28.7517 18.2983 28.7741 18.4625 28.8065 18.6232C28.8385 18.7843 28.8804 18.9418 28.932 19.0965H31.7091C31.5805 18.8906 31.4903 18.5815 31.4393 18.1693C31.3877 17.7573 31.362 17.3264 31.362 16.8751V11.6798C31.362 11.0745 31.227 10.5883 30.957 10.2214C30.6868 9.85459 30.3398 9.56787 29.9155 9.36194C29.4911 9.15619 29.0217 9.0176 28.5074 8.94652C27.9931 8.87594 27.4854 8.84036 26.9838 8.84036C26.431 8.84036 25.8812 8.89531 25.3348 9.00463C24.7882 9.1142 24.2966 9.2976 23.8596 9.55506ZM27.6302 14.5965C27.8293 14.5578 28.0159 14.5096 28.1893 14.4518C28.363 14.3937 28.5076 14.3134 28.6235 14.21V15.2339C28.6235 15.3884 28.6072 15.5944 28.5754 15.8519C28.5431 16.1098 28.4562 16.3636 28.3149 16.6146C28.1732 16.8659 27.9548 17.0817 27.6592 17.2618C27.3632 17.4423 26.9455 17.5322 26.4055 17.5322C26.1868 17.5322 25.9747 17.5129 25.7692 17.4742C25.5632 17.4358 25.3833 17.368 25.2291 17.2715C25.0748 17.175 24.9525 17.0431 24.8625 16.8754C24.7724 16.7084 24.7275 16.502 24.7275 16.2576C24.7275 16.0001 24.7724 15.7876 24.8625 15.6201C24.9525 15.4531 25.0713 15.3145 25.2194 15.205C25.3671 15.0956 25.5407 15.0089 25.7402 14.9441C25.9393 14.88 26.1418 14.828 26.3476 14.7897C26.66 14.7511 26.7846 14.719 27.0034 14.693C27.2219 14.6674 27.4308 14.6352 27.6302 14.5965Z' fill='white'/%3E%3Cpath d='M38.5753 9.11176V10.9467H36.5696V15.8914C36.5696 16.3547 36.6467 16.6639 36.8011 16.8183C36.9552 16.9728 37.264 17.05 37.7268 17.05C37.8812 17.05 38.0288 17.0437 38.1704 17.0307C38.3117 17.0181 38.4468 16.9985 38.5753 16.9729V19.0975C38.3439 19.1362 38.0866 19.1618 37.8039 19.1749C37.521 19.1873 37.2446 19.194 36.9746 19.194C36.5503 19.194 36.1484 19.1649 35.7692 19.1069C35.3897 19.0491 35.0555 18.9367 34.7663 18.7691C34.4769 18.602 34.2486 18.3635 34.0816 18.0544C33.9143 17.7457 33.8308 17.3399 33.8308 16.8375V10.9467H32.1722V9.11176H33.8308V6.11795H36.5696V9.11176H38.5753Z' fill='white'/%3E%3Cpath d='M42.4905 9.11088V10.9652H42.5291C42.6575 10.6559 42.831 10.3697 43.0498 10.1055C43.2684 9.84179 43.519 9.61625 43.8019 9.42953C44.0845 9.24315 44.3869 9.09824 44.7086 8.99491C45.0297 8.89207 45.3642 8.84036 45.7115 8.84036C45.8914 8.84036 46.0905 8.87278 46.3093 8.93705V11.4868C46.1806 11.4608 46.0263 11.4382 45.8465 11.4191C45.6663 11.3997 45.4928 11.39 45.3256 11.39C44.8242 11.39 44.3999 11.474 44.0529 11.6411C43.7057 11.8086 43.4262 12.0369 43.2139 12.3267C43.0018 12.6166 42.8504 12.9544 42.7605 13.3408C42.6706 13.727 42.6256 14.1457 42.6256 14.5963V19.0966H39.8869V9.11088H42.4905Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M47.467 5.3064V7.56622H50.2059V5.3064H47.467ZM50.2054 19.0974V9.11166H47.4665V19.0974H50.2054Z' fill='white'/%3E%3Cpath d='M51.6319 9.1106H54.7563L56.5115 11.7181L58.2473 9.1106H61.2753L57.9966 13.7849L61.6805 19.0964H58.5559L56.4729 15.9482L54.3898 19.0964H51.3235L54.9107 13.843L51.6319 9.1106Z' fill='white'/%3E%3Cpath d='M65.0246 27.359V0.640961H63.1046V0H65.7616V28H63.1046V27.359H65.0246Z' fill='white'/%3E%3C/svg%3E");
}
.ico-matrix:hover .ico-children {
	opacity: 1;
}
.person-item:hover img {
	--tw-blur: blur(0);
	--tw-grayscale: grayscale(0);
	--tw-invert: invert(0);
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
person-item:hover .text-mild,
	.person-item:hover .text-supermild {
	--tw-text-opacity: 1;
	color: #000000;
}
.eligible .text-mild {
	--tw-text-opacity: 1;
	color: #000000;
}
.darker {
	--tw-text-opacity: 1;
	color: #999999;
}
#intro {
		background-image: url(/img/bg.webp);
		background-repeat: no-repeat;
		background-size: cover;
		background-color: black;
		background-position: center;
	}
.faq-item:hover .desc {
	--tw-text-opacity: 1;
	color: #FFFFFF;
}
.topic-item,
	.topic-item .topic-header {
	cursor: help;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
}
.topic-item:hover .topic-header {
	--tw-bg-opacity: 1;
	background-color: #FFFFFF;
	--tw-text-opacity: 1;
	color: #000000;
}
.topic-item:hover .markdown {
	--tw-text-opacity: 1;
	color: #FFFFFF;
}
.topic-img {
	margin-bottom: 1.5rem;
	display: inline-block;
	width: 83.333333%;
}
.ticket-item {
		position: relative;
	}
.ticket-item .ticket-img {
		z-index: -1;
		position: absolute;
		right: 0;
		bottom: 0;
		width: 16em;
		height: 16em;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: black;
	}
.ticket-item.party .ticket-img {
		background-image: none;
	}
.ticket-item:hover .ticket-img {
		filter: invert(100%);
	}
.ticket-item:hover .ticket-bg {
	--tw-bg-opacity: 1;
	background-color: #FFFFFF;
}
.ticket-item .ticket-bg {
		z-index: -2;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #010101;
	}
.topic-item .topic-header {
	font-family: Major Mono Display, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.topic-item:hover .topic-header {
	text-transform: lowercase;
}
.topic-item:hover .topic-img {
	--tw-invert: invert(100%);
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
}
.person-item:hover .speaker-name {
	text-transform: lowercase;
}
.ticket-item:hover .ticket-title {
	text-transform: lowercase;
}
.ticket-item,
	.ticket-item .ticket-bg,
	.ticket-item .ticket-img,
	.person-item {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 200ms;
}
.person-item {
	cursor: help;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
}
.partner-item .partner-img {
	--tw-grayscale: grayscale(100%);
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.partner-item:hover .partner-img {
	--tw-grayscale: grayscale(0);
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.partner-item .partner-text {
	color: #FFFFFF;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}
.partner-item .partner-text .text-mild {
	color: #FFFFFF;
}
.partner-item:hover .partner-text {
	--tw-text-opacity: 1;
	color: #FFFFFF;
}
.partner-item:hover .partner-text .text-mild {
	color: #FFFFFF;
	transition-duration: 1000ms;
}
.badge:hover .badge-image {
	--tw-grayscale: grayscale(0);
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.fixed {
	position: fixed;
}
.relative {
	position: relative;
}
.z-40 {
	z-index: 40;
}
.m-1 {
	margin: 0.25rem;
}
.m-auto {
	margin: auto;
}
.mx-1 {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.mx-4 {
	margin-left: 1rem;
	margin-right: 1rem;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.my-1 {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
.my-3 {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}
.mb-10 {
	margin-bottom: 2.5rem;
}
.mb-16 {
	margin-bottom: 4rem;
}
.mb-2 {
	margin-bottom: 0.5rem;
}
.mb-4 {
	margin-bottom: 1rem;
}
.mb-6 {
	margin-bottom: 1.5rem;
}
.mb-8 {
	margin-bottom: 2rem;
}
.ml-8 {
	margin-left: 2rem;
}
.mt-10 {
	margin-top: 2.5rem;
}
.mt-12 {
	margin-top: 3rem;
}
.mt-14 {
	margin-top: 3.5rem;
}
.mt-16 {
	margin-top: 4rem;
}
.mt-2 {
	margin-top: 0.5rem;
}
.mt-4 {
	margin-top: 1rem;
}
.mt-5 {
	margin-top: 1.25rem;
}
.mt-6 {
	margin-top: 1.5rem;
}
.mt-8 {
	margin-top: 2rem;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.flex {
	display: flex;
}
.table {
	display: table;
}
.grid {
	display: grid;
}
.contents {
	display: contents;
}
.hidden {
	display: none;
}
.aspect-\[16\/11\] {
	aspect-ratio: 16/11;
}
.aspect-square {
	aspect-ratio: 1 / 1;
}
.h-full {
	height: 100%;
}
.h-screen {
	height: 100vh;
}
.min-h-screen {
	min-height: 100vh;
}
.w-2\/5 {
	width: 40%;
}
.w-28 {
	width: 7rem;
}
.w-3\/4 {
	width: 75%;
}
.w-36 {
	width: 9rem;
}
.w-auto {
	width: auto;
}
.w-full {
	width: 100%;
}
.grow {
	flex-grow: 1;
}
.table-auto {
	table-layout: auto;
}
.cursor-help {
	cursor: help;
}
.cursor-pointer {
	cursor: pointer;
}
.list-disc {
	list-style-type: disc;
}
.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.flex-wrap {
	flex-wrap: wrap;
}
.items-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.gap-10 {
	gap: 2.5rem;
}
.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-8 {
	gap: 2rem;
}
.border {
	border-width: 1px;
}
.border-dashed {
	border-style: dashed;
}
.border-gray-600 {
	--tw-border-opacity: 1;
	border-color: #4B5563;
}
.border-white\/30 {
	border-color: #FFFFFF;
}
.bg-\[\#0e0e0e\] {
	--tw-bg-opacity: 1;
	background-color: #0E0E0E;
}
.bg-black {
	--tw-bg-opacity: 1;
	background-color: #000000;
}
.bg-white {
	--tw-bg-opacity: 1;
	background-color: #FFFFFF;
}
.object-contain {
	-o-object-fit: contain;
	   object-fit: contain;
}
.object-cover {
	-o-object-fit: cover;
	   object-fit: cover;
}
.p-0 {
	padding: 0;
}
.p-2 {
	padding: 0.5rem;
}
.p-3 {
	padding: 0.75rem;
}
.p-4 {
	padding: 1rem;
}
.p-6 {
	padding: 1.5rem;
}
.px-10 {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}
.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.py-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.py-1\.5 {
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}
.py-10 {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}
.py-16 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.py-2\.5 {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}
.pb-0 {
	padding-bottom: 0.75rem;
}
.pb-0\.5 {
	padding-bottom: 0.125rem;
}
.pb-16 {
	padding-bottom: 4rem;
}
.pb-24 {
	padding-bottom: 4rem;
}
.pb-32 {
	padding-bottom: 4rem;
}
.pb-36 {
	padding-bottom: 4rem;
}
.pb-4 {
	padding-bottom: 1rem;
}
.pb-6 {
	padding-bottom: 1.5rem;
}
.pb-8 {
	padding-bottom: 2rem;
}
.pl-2 {
	padding-left: 0.5rem;
}
.pt-0 {
	padding-top: 0.5rem;
}
.pt-10 {
	padding-top: 2.5rem;
}
.pt-16 {
	padding-top: 4rem;
}
.pt-2 {
	padding-top: 0.5rem;
}
.pt-20 {
	padding-top: 4rem;
}
.pt-4 {
	padding-top: 1rem;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.font-mono2 {
	font-family: Major Mono Display, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}
.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
.text-4xl {
	font-size: 2.25rem;
	line-height: 2.5rem;
}
.text-base {
	font-size: 1rem;
	line-height: 1.5rem;
}
.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
.text-xs {
	font-size: 0.75rem;
	line-height: 1rem;
}
.font-bold {
	font-weight: 700;
}
.font-medium {
	font-weight: 500;
}
.font-thin {
	font-weight: 100;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.italic {
	font-style: italic;
}
.leading-6 {
	line-height: 1.5rem;
}
.text-black {
	--tw-text-opacity: 1;
	color: #000000;
}
.text-gray-600 {
	--tw-text-opacity: 1;
	color: #4B5563;
}
.text-white {
	--tw-text-opacity: 1;
	color: #FFFFFF;
}
.underline {
	text-decoration-line: underline;
}
.no-underline {
	text-decoration-line: none;
}
.grayscale {
	--tw-grayscale: grayscale(100%);
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.invert {
	--tw-invert: invert(100%);
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter {
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.hover\:border-white:hover {
	--tw-border-opacity: 1;
	border-color: #FFFFFF;
}

.hover\:bg-white:hover {
	--tw-bg-opacity: 1;
	background-color: #FFFFFF;
}

.hover\:text-black:hover {
	--tw-text-opacity: 1;
	color: #000000;
}

.hover\:underline:hover {
	text-decoration-line: underline;
}

.hover\:no-underline:hover {
	text-decoration-line: none;
}

.hover\:invert-0:hover {
	--tw-invert: invert(0);
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (min-width: 640px) {
	.sm\:inline-block {
		display: inline-block;
	}
	.sm\:w-16 {
		width: 4rem;
	}
	.sm\:w-32 {
		width: 8rem;
	}
	.sm\:gap-4 {
		gap: 1rem;
	}
}

@media (min-width: 768px) {
	.md\:mb-8 {
		margin-bottom: 2rem;
	}
	.md\:w-5\/6 {
		width: 83.333333%;
	}
	.md\:w-auto {
		width: auto;
	}
	.md\:grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.md\:grid-cols-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.md\:gap-16 {
		gap: 4rem;
	}
	.md\:gap-6 {
		gap: 1.5rem;
	}
	.md\:py-32 {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	.md\:text-6xl {
		font-size: 3.75rem;
		line-height: 1;
	}
	.md\:text-xl {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
}

@media (min-width: 1024px) {
	.lg\:block {
		display: block;
		margin-left: 0.75rem;
		margin-right: 0.75rem; 
	}
	.lg\:hidden {
		display: none;
	}
	.lg\:w-48 {
		width: 12rem;
	}
	.lg\:grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.lg\:grid-cols-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.lg\:grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	.lg\:grid-cols-5 {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
	.lg\:gap-6 {
		gap: 1.5rem;
	}
	.lg\:gap-8 {
		gap: 2rem;
	}
}

@media (min-width: 1280px) {
	.xl\:mb-0 {
		margin-bottom: 0px;
	}
	.xl\:inline-block {
		display: inline-block;
	}
	.xl\:flex {
		display: flex;
	}
	.xl\:w-36 {
		width: 9rem;
	}
	.xl\:max-w-5xl {
		max-width: 64rem;
	}
	.xl\:grid-cols-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.xl\:grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	.xl\:grid-cols-5 {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
	.xl\:gap-12 {
		gap: 3rem;
	}
	.xl\:gap-14 {
		gap: 3.5rem;
	}
	.xl\:gap-4 {
		gap: 1rem;
	}
	.xl\:whitespace-nowrap {
		white-space: nowrap;
	}
}
